<!-- <section id="about-us" class="section">
    <div class="container">
        <div class="section-title">
            <h2 class="h2">About Us</h2>
        </div>
        <div class="section-text">
            <p>Welcome to Flamingo Paradise, your ultimate destination for all things flamingo! We are passionate about
                these elegant birds and strive to provide a haven for fellow flamingo enthusiasts.</p>
            <p>At Flamingo Paradise, we curate a delightful collection of flamingo-themed products, ranging from
                clothing and accessories to home decor and gifts. Whether you're looking to add a touch of pink elegance
                to your wardrobe or seeking the perfect flamingo-inspired gift for a loved one, we've got you covered.
            </p>
            <p>But Flamingo Paradise is more than just a store - it's a community of flamingo lovers from around the
                world. Join us as we celebrate the beauty and grace of these magnificent creatures through our blog,
                social media channels, and exclusive events.</p>
            <p>Our mission is simple: to spread joy, inspire creativity, and foster connections through our shared love
                of flamingos. So come on in, explore our flock, and let your flamingo spirit soar!</p>
        </div>
    </div>
</section> -->
<section id="about-us" class="section">
    <div class="container">
        <div class="section-title">
            <h2 class="h2">About Us</h2>
        </div>
        <div class="section-content">
            <div class="section-text">
                <p class="section-subtitle"><b>Welcome to Flamingo</b>, </p>
                <p style="padding-left: 14%;">where we redefine the art of water tourism in the heart of Los
                    Angeles,
                    California. As a premier provider of leisure boat rides, we invite you to embark on an immersive
                    journey through the iconic Naples Canal, witnessing the vibrant tapestry of LA life.
                </p>

                <p class="section-subtitle"><b>Our Vision:</b></p>
                <p style="padding-left: 14%;">At Flamingo, we envision more than just boat rides; we craft unforgettable
                    experiences. Our founders
                    lead a passionate team dedicated to creating moments that transcend ordinary tourism, providing
                    guests with a unique blend of relaxation, adventure, and scenic beauty.
                </p>
                <p class="section-subtitle">Services :</p>

                <p style="padding-left: 14%;">Explore the enchanting cityscape of Los Angeles aboard our boats,
                    featuring 1- and 2-hour rides,
                    breathtaking sunset views at Long Beach, and curated experiences such as music serenades and
                    delicious snacks. Our commitment extends to pick-up and drop services, ensuring a seamless
                    transition from hotels to our boat rides.
                </p>
                <p class="section-subtitle"> Opportunities:
                </p>
                <p style="padding-left: 14%;">
                    Flamingo proudly offers collaboration opportunities for travel agencies worldwide. Join us in
                    reshaping the tourism landscape, offering your clients exclusive boat rides and a taste of LA's
                    charm.
                </p>
                <p> Join us on this journey as we set sail to redefine leisure tourism, one boat ride at a time.</p>
            </div>

        </div>
    </div>
</section>