<footer class="footer">

    <div class="footer-top">
        <div class="container">

            <div class="footer-brand">

                <a href="#" class="logo" style="display:flex; align-items:center">

                    <img style="height:100px;width:100px; filter: invert(1);" src="images/Flamingo_logoPNG.png"
                        alt="Flamingo Boat Tours logo">
                    <span id="logo_name" style="color:white;font-weight:1000 ; "> Flamingo Boat
                        Tours</span>
                </a>

                <p class="footer-text">
                    Embark on unforgettable water adventures with Flamingo. Our mission is to redefine leisure tourism,
                    providing you with experiences that leave a lasting impression.
                </p>

            </div>

            <div class="footer-contact">

                <h4 class="contact-title">Contact Us</h4>

                <p class="contact-text">
                    Feel free to contact and reach us !!
                </p>

                <ul>

                    <li class="contact-item">
                        <ion-icon name="call-outline"></ion-icon>

                        <a href="tel:+01123456790" class="contact-link">+01 (123) 4567 90</a>
                    </li>

                    <li class="contact-item">
                        <ion-icon name="mail-outline"></ion-icon>

                        <a href="mailto:info@flamingoboattours.com" class="contact-link">info@flamingoboattours.com</a>
                    </li>

                    <li class="contact-item">
                        <ion-icon name="location-outline"></ion-icon>

                        <address>Long Beach, Los Angeles , California</address>
                    </li>

                </ul>

            </div>

            <div class="footer-form">

                <p class="form-text">
                    Subscribe our newsletter for more update & news !!
                </p>

                <form action="" class="form-wrapper">
                    <input type="email" name="email" class="input-field" placeholder="Enter Your Email" required>

                    <button type="submit" class="btn btn-secondary">Subscribe</button>
                </form>

            </div>

        </div>
    </div>

    <div class="footer-bottom">
        <div class="container">

            <p class="copyright">
                &copy; 2024 <a href="#">Flamingo Boat Tours</a>. All rights reserved
            </p>

            <ul class="footer-bottom-list">

                <li>
                    <a href="#" class="footer-bottom-link">Privacy Policy</a>
                </li>

                <li>
                    <a href="#" class="footer-bottom-link">Term & Condition</a>
                </li>

                <li>
                    <a href="#" class="footer-bottom-link">FAQ</a>
                </li>

            </ul>

        </div>
    </div>

</footer>