<!-- 
    - #HEADER
  -->

<header class="header" data-header>

    <div class="overlay" data-overlay></div>

    <div class="header-top">
        <div class="container">

            <a href="tel:+01123456790" class="helpline-box">

                <div class="icon-box">
                    <ion-icon name="call-outline"></ion-icon>
                </div>

                <div class="wrapper">
                    <p class="helpline-title">For Further Inquires :</p>

                    <p class="helpline-number">+01 (123) 4567 90</p>
                </div>

            </a>



            <a href="#" class="logo" style="display:flex; align-items:center">

                <img style="height:50px;width:50px; filter: invert(1);" src="images/Flamingo_logoPNG.png "
                    alt="Flamingo Boat Tours logo">
                <span id="logo_name" style="color:white;font-weight:1000"> Flamingo Boat Tours</span>
            </a>
            <div class="header-btn-group">
                <div id="search-container" style="display: none;">
                    <input type="text" style="color:white" id="searchInput" placeholder="Type here...">
                </div>
                <button class="search-btn" onclick="toggleSearch()" aria-label="Search">
                    <ion-icon name="search"></ion-icon>
                </button>

                <button class="nav-open-btn" aria-label="Open Menu" data-nav-open-btn>
                    <ion-icon name="menu-outline"></ion-icon>
                </button>
            </div>

        </div>
    </div>

    <div class="header-bottom">
        <div class="container">

            <ul class="social-list">

                <li>
                    <a href="https://www.instagram.com/flamingo_tours_us/" class="social-link">
                        <ion-icon name="logo-instagram"></ion-icon>
                    </a>
                </li>
                <li>
                    <a href="https://www.facebook.com/flamingo.us.boat.tours?mibextid=LQQJ4d" class="social-link">
                        <ion-icon name="logo-facebook"></ion-icon>
                    </a>
                </li>

                <li>
                    <a href="https://twitter.com/i/flow/login?redirect_after_login=%2Fflamingotoursus"
                        class="social-link">
                        <ion-icon name="logo-twitter"></ion-icon>
                    </a>
                </li>

                <li>
                    <a href="https://www.linkedin.com/uas/login?session_redirect=https%3A%2F%2Fwww.linkedin.com%2Fcompany%2Fflamingoboattours%2Fabout%2F"
                        class="social-link">
                        <ion-icon name="logo-linkedin"></ion-icon>
                    </a>
                </li>

            </ul>

            <nav class="navbar" data-navbar>

                <div class="navbar-top">

                    <a href="#" class="logo">
                        <img src="images/flamingo_logoPNG.png" alt="Flamingo Boat Tours logo"
                            style="filter:  invert(1);">
                        <span id="logo_name">Flamingo Boat Tours</span>
                    </a>

                    <button class="nav-close-btn" aria-label="Close Menu" data-nav-close-btn>
                        <ion-icon name="close-outline"></ion-icon>
                    </button>

                </div>

                <ul class="navbar-list">

                    <li>
                        <a href="#home" class="navbar-link" data-nav-link>Home</a>
                    </li>

                    <li>
                        <a href="#about-us" class="navbar-link" data-nav-link>About us</a>
                    </li>

                    <li>
                        <a href="#highlights" class="navbar-link" data-nav-link>Highlights</a>
                    </li>

                    <li>
                        <a href="#package" class="navbar-link" data-nav-link>Packages</a>
                    </li>

                    <li>
                        <a href="#gallery" class="navbar-link" data-nav-link>Gallery</a>
                    </li>

                    <li>
                        <a href="#contact" class="navbar-link" data-nav-link>contact us</a>
                    </li>

                </ul>

            </nav>

            <button class="btn btn-primary">Book Now</button>

        </div>
    </div>

</header>

<link href="css/style.css" rel="stylesheet">